.App {
  text-align: center;
}

.App-logo {
  height: calc(12px + 8vmin);
  margin: 0 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  position: sticky;
  top: 0;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 5;
}

.App-body {
  background-color: #bebebe;
  min-height: 90vh;
}
